{% extends "tbl.html" %}
{% block conteudo %}
    <div id="Cadastrar">
        <h1>Cadastrar Investimento</h1>


        <form action="/salvar" method="POST">
    
            <div class="labels">
                <label for="">Nome:</label>    
            </div>

            <input type="text" name="nome">

            <div class="labels">
                <label for="">Tipo :</label>
            </div>

            <input type="text" name="tipo">
    
            <div class="labels">
                <label for="">Preço: </label>
            </div>

            <input type="text" name="valor">

            <div class="labels">
                <label for="">Rendimento do Investimento:</label> 
            </div>

            <input type="text" name="rendimento_investimento"><p><br>

            <input type="submit" value="salvar">

        </form>

    </div>        
{% endblock %}
