{% extends "tbl.html" %}
{% block conteudo %}
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Qual cerveja você deseja?</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cerveja">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Quantidade</label>
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Quantidade">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}