<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
   
        <title>Novo</title>
        <link rel="stylesheet" href="../static/estilos.css">
    </head>
    <body>
        <div class="Titulo">
            <h1>Acesse sua conta!</h1>
        </div>
        <form action="/salvar" method="POST">
            <div class="label1">
                <label for="">Login: </label><input type="text" name ="nome"><br>
            </div>
            <div class="label2">
                <label for="">Senha: </label><input type="password" name="sobrenome" id="mySenha"><br>
            </div> 
            <div class="label3">
            <label for="">Confirme a Senha: </label><input type="password" name="telefone" id="myInput"><br>
            </div>
            <hr/>
        <div class="salvando">    
            <input type="submit" value="Salvar">
        </div>
        <div class="senha">
            <label> Mostrar Senha</label><input type="checkbox" onclick="myFunction()">
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("mySenha");
                var y = document.getElementById("myInput");
                if (y.type === "password") {
                 y.type = "text";
                } else {
                    y.type = "password";
                }
                if (x.type === "password") {
                 x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        </form>

    </body>
</html>