body{
    margin: 0;
}
.cabecalho{
    width: 100%;
    background: rgb(118, 172, 252);
    height: 4em;
}   
.cabecalho .logo, .cabecalho .menu{
    float: left;
}
.cabecalho .logo img{
    margin: 12,5px 0 0 15px;
    width: 6em;
}
.cabecalho .menu{
    width: 600px;
}
.cabecalho .menu ul li{
    margin: 12.5px  0 0 0;
    display: inline-block;    
    text-transform: uppercase;
    padding: 0.5em 1em;
    
}
.cabecalho .menu ul li:hover{
    background: #fff;
}
.cabecalho .menu ul li:hover a{
    color: #000;
    
}
.cabecalho .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}   

#body{
    padding: 7px 0 0 7px;
    width: 80%;
    margin: 2em auto;
}

.cadastro{
    padding: 0px 0 0 7px;
}
.cadastro input{
    padding: 10px 0 0 15px;
}

